body{
	/*background-color: #2A5D5D !important;*/
	background-image: url(../images/background.jpg);
	overflow-x: hidden;
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
}

#playerContainer{
	/*overflow: hidden;*/
}

.playerDiv{
	margin-top: 30px !important;
	height: 205px !important;
	border: solid #3F3E4F 1px;
	background-color: #F2F4F9;
	padding: 10px;
	color: #07132E;
	/*opacity: .9;*/
}

.row{
	text-align: center;
	font-size: 20px;
	padding-bottom: 4px;
}

#title{
	/*background-color: #F2F4F9;*/
	font-size: 80px;
	font-weight: bold;
	padding: 15px;
	margin: 0px 10px 10px 10px;
	/*border: solid #3F3E4F 1px;*/
	color: #930327;
	font-family: 'Lora', serif;
	font-style: italic;
}

textarea{
	/*margin-top: 60px !important;
	margin-left: 380px !important;*/
	margin-top: 50px !important;
	background-color: #F2F4F9 !important;
	color: #07132E !important;
	border: solid #3F3E4F 1px !important;
	padding: 0px !important;
	/*opacity: .9 !important;*/
}

#input{
	/*margin-left: 380px !important*/
	margin-top: 10px !important;
	width: 63%;
	background-color: #F2F4F9 !important;
	border: solid #3F3E4F 1px !important;
	color: #07132E !important;
	/*opacity: .9 !important;*/
}

#inputName{
	border: solid #3F3E4F 1px !important;
	background-color: #F2F4F9 !important;
	/*opacity: .9 !important;*/
}

.color{
	color: #930327;
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 25px;
}

#addinput{
	background-color: #D84634 !important;
	/*border: solid #07123E 1px !important;*/
	margin-top: -5px;
	color: #F2F4F9;
}

#start{
	background-color: #D84634 !important;
	/*border: solid #07123E 1px !important;*/
	color: #F2F4F9;
}

.choice{
	font-size: 32px;
}

.wLCount{
	font-size: 15px;
}

.input-group{
	width: 300px;
	margin: 0 auto;
}

.yellow{
	border: solid yellow 2px;
}

#playerInfo{
	background-color: #F2F4F9;
	width: 20%;
	margin: 0 auto;
	/*padding: -5px;*/
	border: solid #3F3E4F 1px;
}

#play2Btn{
	background-color: #D84634 !important;
	color: #F2F4F9;
}

#play2Container{
	text-align: center;
	border: solid #3F3E4F 1px;
	background-color: #F2F4F9;
	width: 35%;
	margin: 0 auto;
	padding: 5px;
}

#playerBtn{
	text-align: center;
	margin-top: 10px;
}

#whoWon{
	font-size: 32px;
}

#player1{
	font-size: 25px;
}

#player2{
	font-size: 25px;
}

.p{
	margin: -5px;
}